body{
    margin: 0;
    padding: 0;
    background-image: url("../IMG/articulos/athens.jpg");
    background-repeat: none;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Estilos Navbar*/
header{
    background-color: #9ABAF6;
    width: 100%; 
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    height: 3.5rem;
}
.container-logo{
    display: flex;
}
.logo{
    padding: 1rem;
}
.list-nav{
    display: flex;
    flex-direction: row;
     margin: 0;
}
li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 1.5rem;
}
a{
    text-decoration: none;
    color: #000;
    padding: .5rem;
}
 nav li a:hover{
    
    transition: 0.3s;
    color: #9E7474;
    background-color: #D9D9D9;
    border-radius: 1rem;
   
}
  
nav li a:focus{
  
  font-weight: 700 ;
  color: #9E7474;
}

/*Estilos Footer*/

.footer{
    background-color: #9ABAF6;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/*Estilos senccion articulos*/

.container-articulos{
    margin: auto;
    width: 70%;
    padding: 2rem;
}

.contenedorGrid1, .contenedorGrid2{
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
    background-color: #CCC3C3;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1.5rem;
}

.contenedorGrid1 .textArticulos {
    grid-column: 1/2;
}
.contenedorGrid1 .imgArticulos{
    grid-column: 2/2;
    width: 95%;
}

.contenedorGrid2 .textArticulos{
    grid-column: 2/2;
    grid-row: 1/1;
}
.contenedorGrid2 .imgArticulos{
    grid-column: 1/2;
    grid-row: 1/1;
    width: 95%;
}